*{
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #BF7506;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

.header {
    padding: 70px 0;
    display: flex;
    align-items: center;
    
}

.header-photo {
    max-width: 210px;
    width: 100%;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin: 8px 0 24px 0;
}

.header-primary {
    color: #BF7506;
}

.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-link {
    display: inline-block;
    padding: 8px;
}

.header-links {
    display: flex;
    align-items: center;
}
.cv-download {
    display: flex;
    align-items: center;
    margin-left: 55px;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: black;
    border-bottom: 2px solid #BF7506;
}

.cv-icon {
    margin-right: 4px;
}

.section-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
}

.card {
    max-width: 400px;
    margin-bottom: 40px;
}

.card-text-wrapper {
     padding: 16px;
}

.card-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #BF7506;
}

.tags {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.tag {
    padding: 4px 8px;
    display: inline-block;
    font-size: 12px;
    line-height: 150%;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid #BF7506;
    border-radius: 4px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-text {
    font-size: 16px;
    line-height: 150%;
    color: black;
}

.card-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: black;
    border-bottom: 2px solid #BF7506;
}

.card-button-icon {
    margin-right: 4px;
}

.developer {
    display: flex;
    align-items: center;
    padding: 80px 0 20px 0;
}

.developer-photo {
    width: 360px;
    height: 440px;
    flex-shrink: 0;
    object-fit: cover;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.developer-about {
    margin-left: 55px;
}

.developer-hello {
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: black;
}

.developer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
    margin: 4px 0 16px 0;
}

.developer-text {
    font-size: 16px;
    line-height: 150%;
    color: black;
}

.motto {
    font-size: 24px;
    line-height: 150%;
    color: #dd9c3c;
    margin: 16px 0;
}

.developer-sign {
    max-width: 200px;
}

.skills {
    padding: 20px 0;
}

.skills-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: black;
}

.feedback {
    padding: 80px 0 160px;
}

.form-container {
    max-width: 435px;
    margin: auto;
}

.input-group {
    position: relative;
    padding-top: 9px;
    margin-bottom: 24px;
}

.input-label {
    font-size: 16px;
    line-height: 150%;
    color: #83807c;
    padding: 0 8px;
    background: white;
    position: absolute;
    top: 0;
    left: 16px;
}

.input {
    border: 3px solid #e0dedc;
    border-radius: 4px;
    width: 435px;
    height: 56px;
}

.textarea {
    min-height: 140px;
}

.submit-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: black;
    border: none;
    border-bottom: 2px solid #BF7506;
    background: white;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}